<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 绑定namespace -->
<mapper namespace="com.xazhao.excel.mapper.MyBatisExcelMapper">

    <resultMap type="com.xazhao.excel.entity.EasyExcelTools" id="EasyExcelToolsMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="age" column="age"/>
        <result property="url" column="url"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <select id="pageQuery" resultMap="EasyExcelToolsMap" parameterType="com.xazhao.excel.entity.MyBatisExcel">
        select id, name, address, age, url, gmt_create, gmt_modified from easy_excel_tools
        <where>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="batisExcel.name != null and batisExcel.name != ''">
                and name = #{batisExcel.name}
            </if>
            <if test="batisExcel.ages != null and batisExcel.ages.size() > 0 ">
                and age in
                <foreach collection="batisExcel.ages" open="(" close=")" item="item" separator=",">
                    ${item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>

